-r ./src/requirements.txt
botocore
boto3
pytest
pytest-cov
pytest-mock
requests
flake8

PyMySQL
PyJWT
boto3
botocore
requests
pytz
python-dateutil
SQLAlchemy==1.4.39
mysql-connector-python
sqlparse
elasticsearch~=7.10.0
elasticsearch-dsl>=7.0.0,<8.0.0
python-slugify==6.1.2
furl==2.1.0
redis
python-redis-cache
cryptography
